@media (min-width: 440px) and (min-height:950px){
    .footer{
        font-size: x-small;
    }
}
@media (max-width: 440px) and (min-width:0px) {
    .sec1{
        display: none;
    }
    .sec2{
        display: none;
    }
    .sec3{
        display: none;
    }
    .sec4{
        display: none;
    }
}